<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Global Settings</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" [formGroup]="settingsGroup">
          <div class="form-group has-feedback" [ngClass]="{'has-error':!hostname.valid}">
            <label for="inputHostname" class="col-sm-2 control-label">Host Name</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" formControlName="hostname"
                     id="inputHostname" placeholder="Enter Host Name">
              <span *ngIf="!hostname.valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <h6 *ngIf="!hostname.valid" class="form-text text-danger">No valid Hostname</h6>
            </div>
            <div *ngIf="hostname.dirty && hostname.valid">
              <h5>
                <span class="label label-primary">Changed.</span>
              </h5>
            </div>
          </div>

          <div class="form-group has-feedback" [ngClass]="{'has-error':!gateway.valid}">
            <label for="inputGateway" class="col-sm-2 control-label">Gateway</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" formControlName="gateway"
                     id="inputGateway" placeholder="Enter Gateway">
              <span *ngIf="!gateway.valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <h6 *ngIf="!gateway.valid" class="form-text text-danger">No valid IP Address</h6>
            </div>
            <div *ngIf="gateway.dirty && gateway.valid">
              <h5>
                <span class="label label-primary">Changed.</span>
              </h5>
            </div>
          </div>

          <div class="form-group has-feedback" [ngClass]="{'has-error':!nameServer.valid}">
            <label for="inputNameServer" class="col-sm-2 control-label">Name Server</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" formControlName="nameServer"
                     id="inputNameServer" placeholder="Enter Name Server">
              <span *ngIf="!nameServer.valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <h6 *ngIf="!nameServer.valid" class="form-text text-danger">No valid Name Server IP Address</h6>
            </div>
            <div *ngIf="nameServer.dirty && nameServer.valid">
              <h5>
                <span class="label label-primary">Changed.</span>
              </h5>
            </div>
          </div>

          <div class="form-group has-feedback" [ngClass]="{'has-error':!ntpServer.valid}">
            <label for="inputNTPServer" class="col-sm-2 control-label">NTP Server</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" formControlName="ntpServer"
                     id="inputNTPServer" placeholder="Enter NTP Server">
              <span *ngIf="!ntpServer.valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
              <h6 *ngIf="!ntpServer.valid" class="form-text text-danger">No valid NTP Server</h6>
            </div>
            <div *ngIf="ntpServer.dirty && ntpServer.valid">
              <h5>
                <span class="label label-primary">Changed.</span>
              </h5>
            </div>
          </div>

          <validated-input [validation]="nameserverValidation" [data]="'122.33.44.66'" [label]="'some other server'"
                           [errorMessage]="'invalid server IP address'" (changedData)="otherServerChanged($event)">

          </validated-input>

        </form>

        <table>
          <tr>
            <td>
              <button (click)="applyClicked($event)" type="button" class="btn"
                      [ngClass]="{'btn-success':settingsGroup.valid && settingsGroup.dirty}"
                      [disabled]="!(settingsGroup.valid && settingsGroup.dirty)">Apply
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">
        <p><em>Current:&nbsp;</em>{{changedSettings|json}},&nbsp;<em>Status:</em>{{settingsGroup.statusChanges|async|json}}</p>
        <p><em>Updating:&nbsp;</em>{{updatedSettings|json}}</p>
        <p><em>Other Server:</em>{{otherServerIP}}</p>
      </div>
    </div>
  </div>
</div>
