<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Global Settings</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form"
              [formGroup]="settingsGroup">
          <validated-input
              formControlName="hostname"
              [label]="'HostName'" [control]="hostname"
              [errorMessage]="'No valid Hostname'">
          </validated-input>

          <validated-input
              formControlName="gateway" [control]="gateway"
              [label]="'Gateway'"
              [errorMessage]="'No valid IP address'">
          </validated-input>

          <validated-input
              formControlName="netmask" [control]="netmask"
              [label]="'Gateway Netmask'"
              [errorMessage]="'No valid nemask'">
          </validated-input>

          <validated-input
              formControlName="nameServer" [control]="nameServer"
              [label]="'Name Server'"
              [errorMessage]="'No valid IP address'">
          </validated-input>

          <validated-input
              formControlName="ntpServer" [control]="ntpServer"
              [label]="'NTP Server'"
              [errorMessage]="'No valid NTP Server'">
          </validated-input>
        </form>

        <table>
          <tr>
            <td>
              <button (click)="applyClicked($event)" type="button" class="btn"
                      [ngClass]="{'btn-success':settingsGroup.valid && settingsGroup.dirty}"
                      [disabled]="!(settingsGroup.valid && settingsGroup.dirty)">Apply
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="panel-footer">
        <p><em>Current:&nbsp;</em>{{changedSettings|json}},&nbsp;<em>Status:</em>{{settingsGroup.statusChanges|async|json}}</p>
        <p><em>Updating:&nbsp;</em>{{updatedSettings|json}}</p>
      </div>
    </div>
  </div>
</div>
